#stackoverflow {
  .loading {
    color: darken($sidebar-bg, 18);
    text-shadow: $main-bg 0 1px;
    text-align: center;
    padding: 2.5em 0 .5em;
  }
  p {
    position: relative;
    padding-right: 1em;
  }
  span {
    float: right;
    padding: 0 0 .1em 1em;
    position: relative; right: -1.3em;
    text-shadow: #fff 0 1px;
    font-size: .7em;
    span { font-size: 1.5em; }
    text-decoration: none;    
  }
}
